body
{
	background-color: #F8F8F8;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: normal;
	line-height: 1.2em;
	margin: 0;
	padding: 0;
}

h1, p
{
	color: #333;
}

#scorecard-editor
{
	width: 100%;
	height: 700px;
	position: relative;
	background-color: #EEE;
}

#header
{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100px;
	background-color: #555;
}
#header *
{
	color: white;
	margin: 10px;
}

#view-list
{
	position: absolute;
	left: 0;
	top: 100px; /* header's height */
	bottom: 0;
	width: 200px;
	background-color: #EFE;
	border: 1px solid #FED;
}

#scorecard-view
{
	position: absolute;
	left: 200px; /* view-list's width */
	top: 100px; /* header's height */
	height: 300px;
	right: 0;
	background-color: #DEF;
}

#range-control
{
	position: absolute;
	left: 200px; /* view-list's width */
	top: 400px; /* header's & scorecard-view's heights */
	bottom: 0;
	right: 0;
	background-color: #EFF;
}
